.amigo-content {
  padding: 0 40px;
  position: relative;
  &.content-chef {
    padding-left: calc(calc(1 / 12) * 100% + 40px);
    .amigo-artwork {
      &.left-bottom {
        top: -120%;

        bottom: auto;
      }
      &.top-right {
        display: none;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 0 24px;
  }
  .other-room-title {
    margin-bottom: 72px;
  }

  &.service-section {
    .amigo-content-top .content-left {
      width: 40%;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .amigo-service-titles {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: calc(calc(1 / 12) * 100% + 64px);
      .item-title {
        transition: color 0.3s ease-in-out;
        &.active {
          color: var(--color-secondary);
        }
      }
    }
    .amigo-artwork {
      &.bottom-right {
        bottom: 0;
        right: 0;
        transform: scaleX(-1) translateY(50%);
      }
    }
  }
  &-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;
    @media (max-width: 991px) {
      flex-direction: column;
      gap: 48px;
    }
    .content-left,
    .content-right {
      width: calc(calc(4 / 12) * 100%);
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .content-left {
      .tag {
        margin-bottom: 24px;
      }
    }
    .content-right {
      .description {
        margin-bottom: 32px;
      }
    }
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    opacity: 1;
    &-active {
      background-color: var(--color-secondary);
    }
  }
  .slider-amigo-image {
    &.chef-sec {
      width: 75%;
      aspect-ratio: 1;
    }
    height: 500px;
    @media (max-width: 991px) {
      height: 350px;
    }
    @media (max-width: 767px) {
      height: 200px;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      .amigo-image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .slider-amigo-content-import {
    padding-right: calc(calc(1 / 12) * 100% + 40px);
    padding-top: 40px;
    @media (max-width: 991px) {
      padding-right: 0;
    }
    .current-sub {
      margin-bottom: 24px;
    }
    .current-button {
      margin-top: 100px;
      @media (max-width: 991px) {
        margin-top: 40px;
        display: flex;
        justify-content: center;
      }
    }
    .current-description {
      @media (max-width: 991px) {
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
    .current-name {
      margin-bottom: 24px;
      @media (max-width: 991px) {
        display: flex;
        justify-content: center;
        & > * {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .slider-amigo-wrapper {
    @media (max-width: 991px) {
      flex-direction: column-reverse !important;
    }
    &.flex-row-reverse {
      .slider-amigo-content-import {
        padding-right: 0;
        padding-left: calc(calc(1 / 12) * 100% + 64px);
        @media (max-width: 991px) {
          padding-left: 0;
        }
      }
    }
  }
  .amigo-usb {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      justify-content: center;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      .usb-name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: var(--color-black);
      }
    }
  }
  .amigo-artwork {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    &.top-right {
      top: 0;
      right: 0;
      transform: scaleX(-1) translateY(-50%);
    }
    &.left-bottom {
      left: 0;
      bottom: 0;
      transform: translateY(50%);
    }
  }
  .swiper-serivce {
    height: 500px;

    .service-image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
