.hover-underline-black,
.hover-underline-white {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  &.active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.hover-underline-white {
  &::before {
    background-color: var(--color-white);
  }
}
.global-button {
  display: block;
  height: 40px;
  background-color: var(--color-secondary);
  width: max-content;
  padding: 10px 24px;
  color: var(--color-white);
  transition: all 0.3s ease;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.spacing {
  height: 120px;
}
.spacing-16x {
  height: 160px;
}
