<div class="container-fluid p-0">
    <div class="footer-top">
        <div class="row g-0">
            <div class="col-lg-3 d-flex flex-column justify-content-between">
                <a class="footer-logo" href="#">
                    <img src="./assets/images/icons/logo-footer.svg" alt="" />
                </a>
                <a class="footer-logo-bw">
                    <img src="./assets/images/icons/logo-bw.svg" alt="">
                </a>
            </div>
            <div class="col-lg-9">
                <div class="footer-main">
                    <div class="footer-location">
                        <p class="title b2-font color-white" data-text-footer>
                            Amigo Sol Phan Thiet
                        </p>
                        <p class="b2-font-md color-white" data-text-footer>
                            DT719B – Lạc Long Quân trục đường ven biển xã Tiến Thành,
                            Tp. Phan Thiết, Bình Thuận
                        </p>
                        <div class="d-flex">
                            <a href="#" class="b2-medium color-white hover-underline-white" data-text-footer>
                                (+84) 0252 3682 999
                            </a>
                            -
                            <a href="#" class="b2-medium color-white hover-underline-white" data-text-footer>
                                (+84) 928.49.68.68
                            </a>

                        </div>
                    </div>
                    <div class="footer-menu">
                        <p class="title b2-font color-white" data-text-footer>
                            Thông tin
                        </p>
                        <ul class="menu">
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Phòng nghỉ</a>
                            </li>
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Dịch vụ</a>
                            </li>
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Hội nghị & Sự kiện</a>
                            </li>
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Tiện ích</a>
                            </li>
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Ưu đãi</a>
                            </li>
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Thư viện</a>
                            </li>
                            <li data-text-footer>
                                <a href="#" class="hover-underline-white color-white">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-contact">
                        <div class="form">
                            <p class="title b2-font color-white" data-text-footer>
                                Đăng ký nhận bản tin
                            </p>
                            <form action="" data-text-footer>
                                <div class="field">
                                    <input type="email" placeholder="Email" autocomplete="off" />
                                </div>
                                <button type="submit">
                                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M33.0456 17.0396L20.6079 28.3465V34L24 30.6079M14.9545 24.3891L33.0456 17L29.8796 33.4347L14.9545 24.3891Z"
                                            stroke="#fff" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <div class="social">
                            <p class="title b2-font color-white" data-text-footer>
                                Theo dõi
                            </p>
                            <ul class="d-flex align-items-center">
                                <li data-text-footer>
                                    <a href="#" class="b2-medium color-white hover-underline-white">Facebook</a>
                                </li>
                                <li data-text-footer>
                                    <a href="#" class="b2-medium color-white hover-underline-white">Tiktok</a>
                                </li>
                                <li data-text-footer>
                                    <a href="#" class="b2-medium color-white hover-underline-white">Instagram</a>
                                </li>
                                <li data-text-footer>
                                    <a href="#" class="b2-medium color-white hover-underline-white">Zalo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-headquarter">
                    <div class="info b2-medium color-white" data-text-footer>
                        <p>
                            Tên trụ sở chính: CÔNG TY TNHH BIỂN QUÊ HƯƠNG - PHAN THIẾT.
                            Địa chỉ trụ sở chính: 123 Nguyễn Tương, P. Phú Thủy, Tp.
                            Phan Thiết, Tỉnh Bình Thuận, Việt Nam. Số GPKD: 3401139808
                            do Sở KHĐT Tỉnh Bình Thuận cấp ngày 15/12/2016.
                        </p>
                    </div>
                    <div class="logo-bct">
                        <img src="./assets/images/icons/logo-bct.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-copyright b2-medium color-white" data-text-footer>
            ©2025 Costamigo Best Western Phan Thiết
        </div>
        <ul class="menu">
            <li data-text-footer>
                <a href="#" class="hover-underline-white">Quy định chung</a>
            </li>
            <li data-text-footer>
                <a href="#" class="hover-underline-white">Chính sách bảo mật</a>
            </li>
            <li data-text-footer>
                <a href="#" class="hover-underline-white">Phương thức thanh toán</a>
            </li>
        </ul>
        <div class="footer-alpha" data-text-footer>
            <a href="#" target="_blank" class="b2-medium color-white hover-underline-white">Digital Experience Alpha
                Creative</a>
        </div>
    </div>
</div>