<div class="header-wrapper">
    <div class="header-menu left">
        <button type="button" class="btn-hamburger b2-font">
            <div class="group-ic">
                <div class="ic ic-default">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </button>
        <ul class="menu d-none d-lg-flex">
            <li class="menu-item-has-children d-flex align-items-center">
                <a href="./accomodation.html" class="b2-font font-body color-black">Phòng nghỉ</a>

                <img src="./assets/images/ic-arrow-down.svg" alt="" />

                <ul class="sub-menu">
                    <li>
                        <a href="#" class="b1-font color-primary animation-text-v3">Superior Room</a>
                    </li>
                    <li>
                        <a href="#" class="b1-font color-primary animation-text-v3">Deluxe Room</a>
                    </li>
                    <li>
                        <a href="#" class="b1-font color-primary animation-text-v3">Deluxe Azure</a>
                    </li>
                    <li>
                        <a href="#" class="b1-font color-primary animation-text-v3">Deluxe Family</a>
                    </li>
                    <li>
                        <a href="#" class="b1-font color-primary animation-text-v3">Costa Family</a>
                    </li>
                    <li>
                        <a href="#" class="b1-font color-primary animation-text-v3">Amigo Family</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./restaurant.html" class="b2-font font-body color-black">Ẩm thực</a>
            </li>
            <li>
                <a href="./facilities.html" class="b2-font font-body color-black">Tiện ích</a>
            </li>
            <li>
                <a href="./offer.html" class="b2-font font-body color-black">Ưu đãi</a>
            </li>
        </ul>
    </div>
    <div class="header-logo">
        <a href="./index.html">
            <img src="./assets/images/icons/logo.svg" alt="" />
        </a>
    </div>
    <div class="header-menu right">
        <ul class="menu d-none d-lg-flex">
            <li>
                <a href="#" class="b2-font font-body color-black">Hội nghị & Sự kiện</a>
            </li>
            <li>
                <a href="#" class="b2-font font-body color-black btn-modal-booking-room">
                    Đặt phòng
                </a>
            </li>
        </ul>
        <div class="lang d-none d-lg-flex">
            <div class="dropdown-custom">
                <div class="dropdown-custom-btn">
                    <div class="value-select dropdown-custom-text b2-font color-white">
                        <span>VI</span>
                    </div>
                    <img src="./assets/images/ic-arrow-down.svg" alt="" />
                </div>
                <div class="dropdown-custom-menu">
                    <div class="dropdown-custom-item language-item b2-font color-primary animation-text-v3">
                        <span>EN</span>
                    </div>
                    <div class="dropdown-custom-item language-item b2-font color-primary animation-text-v3">
                        <span>ZH</span>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn-music pause">
            <svg width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4.70044" cy="14" r="3" fill="white" />
                <path
                    d="M7 13L5.59353 0.810581C5.58 0.693369 5.76781 0.643843 5.81777 0.750735C6.46733 2.14056 7.66394 4 9 4C11 4 12 7.5 12 8"
                    stroke="white" stroke-linecap="round" />
                <path d="M1 4L12 15" stroke="white" stroke-linecap="round" class="line-muted" />
            </svg>

            <!-- <audio autoplay loop muted id="player" src="./assets/audio/beach-sound.mp3" type="audio/mpeg"></audio> -->
        </button>
    </div>
</div>
<div class="header-sub-menu desktop d-none d-lg-block">
    <div class="header-sub-menu__container">
        <div class="sub-menu-container">
            <div class="sub-menu">
                <ul>
                    <li>
                        <a href="./wellness-spa.html"
                            class="h1-font font-heading color-white animation-text-v3">Costamigo Wellness Spa</a>
                    </li>
                    <li>
                        <a href="./event.html" class="h1-font font-heading color-white animation-text-v3">Hội nghị &
                            tiệc cưới</a>
                    </li>
                    <li>
                        <a href="./destination.html" class="h1-font font-heading color-white animation-text-v3">Điểm
                            đến</a>
                    </li>
                    <li>
                        <a href="./gallery.html" class="h1-font font-heading color-white animation-text-v3">Thư viện</a>
                    </li>
                    <li>
                        <a href="./news.html" class="h1-font font-heading color-white animation-text-v3">Tin tức & Giải
                            thưởng</a>
                    </li>
                    <li>
                        <a href="./contact.html" class="h1-font font-heading color-white animation-text-v3">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub-menu-overlay d-none d-lg-flex"></div>
    </div>
</div>
<div class="header-sub-menu mobile d-block d-lg-none">
    <div class="header-sub-menu__container">
        <div class="sub-menu-container">
            <div class="sub-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="./accomodation.html"
                            class="h1-font-md font-heading color-white animation-text-v3">Phòng nghỉ</a>
                        <div class="sub-menu d-none">
                            <div class="return h1-font-md font-heading color-white">
                                Trở lại
                            </div>
                            <ul>
                                <li>
                                    <a href="" class="h1-font-md font-heading color-white animation-text-v3">Tất cả</a>
                                </li>
                                <li>
                                    <a href="" class="h1-font-md font-heading color-white animation-text-v3">Pool
                                        Villa</a>
                                </li>
                                <li>
                                    <a href="" class="h1-font-md font-heading color-white animation-text-v3">Ocean
                                        Villa</a>
                                </li>
                                <li>
                                    <a href="" class="h1-font-md font-heading color-white animation-text-v3">Grand Pool
                                        Villa</a>
                                </li>
                                <li>
                                    <a href="" class="h1-font-md font-heading color-white animation-text-v3">Grand Suite
                                        Villa</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="./restaurant.html" class="h1-font-md font-heading color-white animation-text-v3">Ẩm
                            thực</a>
                    </li>
                    <li>
                        <a href="./facilities.html" class="h1-font-md font-heading color-white animation-text-v3">Tiện
                            ích</a>
                    </li>
                    <li>
                        <a href="./offer.html" class="h1-font-md font-heading color-white animation-text-v3">Ưu đãi</a>
                    </li>
                    <li>
                        <a href="./wellness-spa.html"
                            class="h1-font-md font-heading color-white animation-text-v3">Costamigo Wellness Spa</a>
                    </li>
                    <li>
                        <a href="./event.html" class="h1-font font-heading color-white animation-text-v3">Hội nghị &
                            tiệc cưới</a>
                    </li>
                    <li>
                        <a href="./destination.html" class="h1-font-md font-heading color-white animation-text-v3">Điểm
                            đến</a>
                    </li>
                    <li>
                        <a href="./gallery.html" class="h1-font-md font-heading color-white animation-text-v3">Thư
                            viện</a>
                    </li>
                    <li>
                        <a href="./news.html" class="h1-font-md font-heading color-white animation-text-v3">Tin tức &
                            Giải thưởng</a>
                    </li>
                    <li>
                        <a href="./contact.html" class="h1-font-md font-heading color-white animation-text-v3">Liên
                            hệ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-sub-menu__bottom">
            <div class="bottom-wrapper">
                <div class="lang">
                    <div class="dropdown-custom">
                        <div class="dropdown-custom-btn">
                            <div class="value-select dropdown-custom-text b2-font color-white">
                                <span>VI</span>
                            </div>
                            <img src="./assets/images/ic-arrow-down.svg" alt="" />
                        </div>
                        <div class="dropdown-custom-menu">
                            <div class="dropdown-custom-item language-item b2-font color-primary animation-text-v3">
                                <span>EN</span>
                            </div>
                            <div class="dropdown-custom-item language-item b2-font color-primary animation-text-v3">
                                <span>ZH</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="virtual-link">
                    <a href="" class="b2-font color-white d-inline-block">
                        360 Virtual
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>