:root {
  --font-heading: "VL NewParis Headline", sans-serif;
  --font-body: "Averta", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #2a3580;
  --color-secondary: #ca6627;
  --color-third: #0084ae;
  --color-bg: #d9bb9b;
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-third {
  color: var(--color-third);
}

.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.h0-font {
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
}

.h1-font {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .h1-font {
    font-size: 32px;
    line-height: 40px;
  }
}

.h1-mobile {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.h2-font {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .h2-font {
    font-size: 20px;
    line-height: 32px;
  }
}

.h2-mobile {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.b0-font {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.b1-font {
  font-size: 16px;
  line-height: 28px;
}

.b2-font {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 3%;
}

.b2-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: var(--font-body);
}

.background-pattern {
  position: relative;
}
.background-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/icons/bg.png");
  background-repeat: repeat-y;
  background-size: contain;
  z-index: -1;
}

.hover-underline-black,
.hover-underline-white {
  position: relative;
}
.hover-underline-black::before,
.hover-underline-white::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-underline-black:hover::before,
.hover-underline-white:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-black.active::before,
.hover-underline-white.active::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-white::before {
  background-color: var(--color-white);
}

.global-button,
.btn-general {
  display: block;
  height: 40px;
  background-color: var(--color-secondary);
  width: max-content;
  padding: 10px 24px;
  color: var(--color-white);
  transition: all 0.3s ease;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}
.global-button:hover,
.btn-general:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.spacing-120 {
  height: 120px;
}

.spacing-16x {
  height: 160px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  transition: transform 0.4s ease;
}
#header.scrolled {
  transform: translateY(-100%);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  position: relative;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}
@media (max-width: 991px) {
  .header-wrapper {
    padding: 16px 24px;
  }
}
.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-logo img {
  width: auto;
  height: 40px;
}
@media (max-width: 991px) {
  .header-logo img {
    height: 48px;
    width: auto;
  }
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu .btn-hamburger {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-white);
  margin-right: 48px;
  position: relative;
}
.header-menu .btn-hamburger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.header-menu .btn-hamburger.change .group-ic .ic span {
  background-color: var(--color-white);
}
.header-menu .btn-hamburger.change .group-ic .ic span:first-child {
  transform: rotate(45deg);
  top: 4px !important;
}
.header-menu .btn-hamburger.change .group-ic .ic span:last-child {
  transform: rotate(-45deg);
  bottom: 3px !important;
}
.header-menu .btn-hamburger .group-ic {
  width: 22px;
  height: 8px;
}
.header-menu .btn-hamburger .group-ic .ic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.header-menu .btn-hamburger .group-ic .ic span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  transition: all 0.2s ease;
  position: absolute;
  transform: rotate(0deg);
}
.header-menu .btn-hamburger .group-ic .ic span:first-child {
  top: 0;
}
.header-menu .btn-hamburger .group-ic .ic span:last-child {
  bottom: 0;
}
.header-menu .btn-music {
  margin-left: 32px;
  height: 32px;
  width: 32px;
  position: relative;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  background-size: 100% 100%;
}
.header-menu .btn-music .line-muted {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.header-menu .btn-music.pause .line-muted {
  opacity: 1;
  visibility: visible;
}
.header-menu .btn-music svg {
  width: 11px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-menu .btn-music .icon-pause {
  opacity: 0;
  visibility: hidden;
}
.header .menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .menu .menu-item-has-children {
  gap: 8px;
  position: relative;
}
.header .menu .menu-item-has-children:hover::after {
  opacity: 1;
  visibility: visible;
}
.header .menu .menu-item-has-children::after {
  content: "";
  width: 100%;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.header .menu .menu-item-has-children:hover .sub-menu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header .menu .menu-item-has-children .sub-menu {
  transition: all 0.4s ease;
  background-color: var(--color-bg);
  padding: 24px;
  position: absolute;
  left: -24px;
  top: calc(100% + 30px);
  width: max-content;
  max-width: 276px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: clip-path;
}
.header .menu .menu-item-has-children .sub-menu li:not(:last-child) {
  margin-bottom: 8px;
}
.header .menu .menu-item-has-children .sub-menu a {
  color: var(--color-black);
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
}
.header .menu .menu-item-has-children .sub-menu a::before {
  background-color: var(--color-primary);
}
.header-sub-menu {
  position: fixed;
  left: 0;
  top: 0px;
  bottom: 0;
  width: 100%;
  min-height: calc(100svh - 80px);
  will-change: transform;
  transition: all 0.5s ease;
  background-color: #282828;
  opacity: 0;
  visibility: hidden;
  z-index: 94;
}
@media (max-width: 991px) {
  .header-sub-menu {
    top: 55px;
  }
}
.header-sub-menu.show {
  opacity: 1;
  visibility: visible;
}
.header-sub-menu__container {
  display: grid;
  grid-template-columns: 4fr 8fr;
  height: 100%;
}
@media (max-width: 991px) {
  .header-sub-menu__container {
    grid-template-columns: 1fr;
    position: relative;
  }
}
.header-sub-menu__container .sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 991px) {
  .header-sub-menu__container .sub-menu {
    overflow-y: scroll;
    height: calc(100vh - 100px);
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .header-sub-menu__container .sub-menu::-webkit-scrollbar {
    display: none;
  }
}
.header-sub-menu__container .sub-menu ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 991px) {
  .header-sub-menu__container .sub-menu ul {
    gap: 18px;
  }
}
@media (max-width: 480px) {
  .header-sub-menu__container .sub-menu ul li a {
    white-space: nowrap;
    font-size: 20px;
    line-height: 30px;
  }
}
.header-sub-menu__container .sub-menu ul li a:hover {
  color: var(--color-white);
}
.header-sub-menu__container .sub-menu ul li a::before {
  background-color: var(--color-white);
  height: 1px;
  bottom: -4px;
  mask-size: 100% auto;
}
@media (max-width: 480px) {
  .header-sub-menu__container .sub-menu ul li a::before {
    bottom: -2px;
  }
}
.header-sub-menu .sub-menu-container {
  background-color: var(--color-secondary);
  position: relative;
  padding-top: 80px;
}
.header-sub-menu .sub-menu-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #282828;
}
@media (max-width: 991px) {
  .header-sub-menu .sub-menu-container {
    position: relative;
  }
}
.header-sub-menu .sub-menu-container .menu-has-children .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 64px;
  left: 0;
}
.header-sub-menu .sub-menu-overlay {
  background-color: #282828;
}
.header .lang {
  margin-left: 32px;
  transform: translateY(1px);
  cursor: pointer;
}
.header .lang .dropdown-custom {
  position: relative;
}
.header .lang .dropdown-custom-item {
  color: var(--color-primary) !important;
  font-weight: 600;
}
.header .lang .dropdown-custom-item:not(:first-child) {
  margin-top: 8px;
}
.header .lang .dropdown-custom-item span {
  color: var(--color-black);
}
.header .lang .dropdown-custom-text {
  font-weight: 600;
}
.header .lang .dropdown-custom-text span {
  color: var(--color-black);
}
.header .lang .dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .lang .dropdown-custom-menu {
  position: absolute;
  background-color: var(--color-bg);
  padding: 12px 24px;
  bottom: -29px;
  left: -24px;
  transform: translateY(100%);
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: clip-path;
}
.header .lang .dropdown-custom-menu.dropdown--active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header-sub-menu-bottom {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.header-sub-menu-bottom .bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: calc(100% - 48px);
}
.header-sub-menu-bottom .lang {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-sub-menu-bottom .lang .dropdown-custom-menu {
  top: -16px;
  bottom: unset;
  transform: translateY(-100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.header-sub-menu-bottom .lang .dropdown-custom-btn img {
  transform: rotate(180deg);
}
.header-sub-menu-bottom .virtual-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.section-banner {
  position: relative;
  height: 100vh;
}
.section-banner .booking-form {
  position: absolute;
  left: 40px;
  z-index: 5;
  bottom: 40px;
  width: 33%;
  height: calc(100svh - 150px);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}
.section-banner .booking-form-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--color-secondary);
}
.section-banner .booking-form-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
}
.section-banner .booking-form-main > * {
  font-size: 14px;
  line-height: 20px;
}
.section-banner .booking-form-main .input-item {
  position: relative;
  background-color: var(--color-white);
  padding: 14px 16px;
}
.section-banner .booking-form-main .input-item textarea,
.section-banner .booking-form-main .input-item input {
  width: 100%;
  border: none;
  outline: none;
}
.section-banner .booking-form-main .input-item textarea:focus + label, .section-banner .booking-form-main .input-item textarea:not(:placeholder-shown) + label,
.section-banner .booking-form-main .input-item input:focus + label,
.section-banner .booking-form-main .input-item input:not(:placeholder-shown) + label {
  opacity: 0;
  pointer-events: none;
}
.section-banner .booking-form-main .input-item textarea {
  resize: none;
}
.section-banner .booking-form-main .input-item label {
  position: absolute;
  left: 16px;
}
.section-banner .booking-form-main .input-item label span {
  color: red;
}
.section-banner .booking-form-main .form-row.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.section-banner .booking-form-main button {
  margin-top: 28px;
}
@media (max-width: 991px) {
  .section-banner {
    max-height: 640px;
  }
}
.section-banner__container {
  width: 100%;
  height: 100vh;
}
@media (max-width: 991px) {
  .section-banner__container {
    max-height: 640px;
  }
}
.section-banner__wrapper {
  width: 100%;
  height: 100%;
}
@media (min-width: 991px) {
  .section-banner__wrapper {
    height: 100vh;
    overflow: hidden;
  }
}
.section-banner__wrapper .video {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;
}
@media (max-width: 991px) {
  .section-banner__wrapper .video {
    height: 100%;
  }
}
.section-banner__wrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1400px) {
  .section-banner__wrapper .video iframe {
    height: 100vh;
    width: 177.78vh;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 0;
  }
}
.section-banner__wrapper video {
  object-fit: cover;
}
.section-banner__wrapper picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-banner__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-banner .banner-slider {
  width: 100%;
  height: 100%;
}
.section-banner .banner-slider-img {
  width: 100%;
  height: 100%;
}
.section-banner .banner-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-banner .banner-slider .swiper-btn-custom {
  margin: 0;
  width: 80px;
  height: 80px;
  background-color: var(--color-pattern);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  z-index: 999;
  cursor: none;
}
.section-banner .banner-slider .swiper-btn-custom::after {
  content: unset;
  font-size: 0;
}
.section-banner .banner-slider .swiper-btn-custom svg {
  width: auto;
  height: auto;
}
.section-banner .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  opacity: 1;
}
.section-banner .swiper-pagination-bullet-active {
  background-color: var(--color-secondary);
}

footer {
  padding: 0 40px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: var(--color-secondary);
}
footer .animation-text-v3:hover {
  color: var(--color-white) !important;
}
footer .animation-text-v3::before {
  background-color: var(--color-white);
}
@media (max-width: 991px) {
  footer {
    padding: 0 24px;
  }
}
footer .footer__bg {
  position: absolute;
  bottom: -50px;
  left: -80px;
  transform: rotate(27deg);
}
@media (max-width: 991px) {
  footer .footer__bg {
    bottom: unset;
    right: -160px;
    left: unset;
    top: 0;
    transform: rotate(0deg) scaleX(-1);
  }
}
footer .footer-top {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
@media (max-width: 991px) {
  footer .footer-top {
    padding-top: 48px;
  }
}
footer .footer-top::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
footer .footer-top .title {
  margin-bottom: 24px;
}
footer .footer-copyright, footer .footer-alpha {
  display: flex;
  align-items: center;
}
footer .footer-logo {
  width: 233px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
@media (max-width: 991px) {
  footer .footer-logo {
    width: 200px;
    margin-bottom: 48px;
  }
}
footer .footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  footer .footer-contact {
    padding-top: 24px;
  }
}
footer .footer-contact form {
  display: flex;
  align-items: center;
  gap: 34px;
  transform: translateY(-15px);
}
footer .footer-contact form .field {
  width: 100%;
  position: relative;
}
footer .footer-contact form .field::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
footer .footer-contact form input {
  width: 100%;
  border: 0;
  height: 44px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}
footer .footer-contact form input::placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}
footer .footer-contact form button {
  width: 44px;
  height: 44px;
  min-width: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  transition: all 0.3s ease;
  position: relative;
}
footer .footer-contact form button svg {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .footer-contact form button path,
footer .footer-contact form button circle {
  transition: all 0.4s ease;
}
footer .footer-contact form button:hover {
  background-color: var(--color-white);
}
footer .footer-contact form button:hover path {
  stroke: var(--color-primary);
}
footer .footer-contact form button:hover circle {
  fill: var(--color-white);
}
footer .footer-contact form button:hover .icon {
  fill: #232c6a;
}
footer .footer-contact .social {
  margin-top: 25px;
}
footer .footer-contact .social ul {
  gap: 24px;
}
footer .footer-contact .social ul li {
  display: flex;
}
footer .footer-contact .social ul li a:hover {
  color: var(--color-white);
}
footer .footer-menu {
  margin-right: 40px;
  padding-right: 12px;
  position: relative;
}
@media (max-width: 991px) {
  footer .footer-menu {
    margin-right: 0;
    padding: 24px 0;
  }
}
footer .footer-menu .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 16px;
}
@media (max-width: 991px) {
  footer .footer-menu .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 40px;
  }
}
footer .footer-menu::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}
@media (max-width: 991px) {
  footer .footer-menu::after {
    width: 100%;
    height: 1px;
    top: unset;
    bottom: 0;
  }
}
footer .footer-menu ul li {
  display: flex;
}
footer .footer-menu ul li a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}
footer .footer-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 45px;
}
@media (max-width: 991px) {
  footer .footer-main {
    grid-template-columns: 1fr;
    margin-bottom: 24px;
  }
}
footer .footer-location {
  margin-right: 32px;
  padding-right: 18px;
  position: relative;
}
@media (max-width: 991px) {
  footer .footer-location {
    margin-right: 0;
    padding-bottom: 24px;
  }
}
footer .footer-location::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}
@media (max-width: 991px) {
  footer .footer-location::after {
    bottom: 0;
    top: unset;
    right: unset;
    width: 100%;
    height: 1px;
    left: 0;
  }
}
footer .footer-location p {
  margin-bottom: 8px;
}
footer .footer-location > * {
  font-size: 14px;
  left: 20px;
  font-weight: 400;
}
footer .footer-location a:hover {
  color: var(--color-white);
}
footer .footer-headquarter {
  display: grid;
  grid-template-columns: 66.6666666667% 33.3333333333%;
  padding: 36px 0 0;
  position: relative;
}
@media (max-width: 991px) {
  footer .footer-headquarter {
    grid-template-columns: 1fr;
    padding: 24px 0 16px;
    gap: 24px;
  }
}
footer .footer-headquarter::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
footer .footer-headquarter .logo-bct {
  width: 134px;
  height: auto;
  filter: grayscale(100%);
}
footer .footer-headquarter .info {
  max-width: 78%;
}
@media (max-width: 991px) {
  footer .footer-headquarter .info {
    max-width: 100%;
  }
}
footer .footer-bottom {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 16px 0;
  position: relative;
}
@media (max-width: 991px) {
  footer .footer-bottom {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 24px 0 68px;
  }
}
footer .footer-bottom::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
footer .footer-bottom .menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 991px) {
  footer .footer-bottom .menu {
    flex-wrap: wrap;
    gap: 16px 24px;
  }
}
footer .footer-bottom .menu li {
  display: flex;
}
footer .footer-bottom .menu a {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}
footer .footer-alpha a:hover {
  color: var(--color-white);
}

.intro {
  position: relative;
  width: 100%;
  padding: 175px 0;
}
.intro-wrapper {
  display: flex;
  justify-content: center;
}
.intro-box {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.intro-artwork {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.intro-artwork.top-right {
  top: 0;
  right: 0;
  transform: translateY(-50%);
}
.intro-artwork.left-bottom {
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}

.amigo-content {
  padding: 0 40px;
}
.amigo-content.service-section .amigo-content-top .content-left {
  width: 40%;
}
.amigo-content.service-section .amigo-service-titles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: calc(8.3333333333% + 64px);
}
.amigo-content.service-section .amigo-service-titles .item-title {
  transition: color 0.3s ease-in-out;
}
.amigo-content.service-section .amigo-service-titles .item-title.active {
  color: var(--color-secondary);
}
.amigo-content-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 64px;
}
.amigo-content-top .content-left,
.amigo-content-top .content-right {
  width: 33.3333333333%;
}
.amigo-content-top .content-left .tag {
  margin-bottom: 24px;
}
.amigo-content-top .content-right .description {
  margin-bottom: 32px;
}
.amigo-content .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  opacity: 1;
}
.amigo-content .swiper-pagination-bullet-active {
  background-color: var(--color-secondary);
}
.amigo-content .slider-amigo-image {
  height: 500px;
}
.amigo-content .slider-amigo-image .swiper-slide {
  width: 100%;
  height: 100%;
}
.amigo-content .slider-amigo-image .swiper-slide .amigo-image {
  width: 100%;
  height: 100%;
}
.amigo-content .slider-amigo-image .swiper-slide .amigo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.amigo-content .slider-amigo-content-import {
  padding-right: calc(8.3333333333% + 40px);
}
.amigo-content .slider-amigo-content-import .current-button {
  margin-top: 120px;
}
.amigo-content .slider-amigo-content-import .current-name {
  margin-bottom: 24px;
}
.amigo-content .slider-amigo-wrapper.flex-row-reverse .slider-amigo-content-import {
  padding-right: 0;
  padding-left: calc(8.3333333333% + 64px);
}

.section-map {
  padding: 0 40px;
  background-repeat: repeat-y;
  background-size: contain;
  background-attachment: fixed;
}
.section-map__img {
  position: relative;
}
.section-map__img .map-link {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.section-map__img .map-link path {
  transition: all 0.4s ease;
}
.section-map__img .map-link:hover path {
  fill: var(--color-primary);
}
@media (max-width: 991px) {
  .section-map {
    padding: 0;
  }
}
.section-map .col-lg-7 {
  height: max-content;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@media (max-width: 991px) {
  .section-map .col-lg-7 {
    position: static;
    height: auto;
    min-height: auto;
  }
}
.section-map__map {
  width: 100%;
  aspect-ratio: 782/667;
}
.section-map__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-map__content {
  padding-left: 64px;
  padding-right: 40px;
}
@media (max-width: 991px) {
  .section-map__content {
    padding: 0;
    margin-top: 32px;
  }
}
.section-map__content--item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
@media (max-width: 991px) {
  .section-map__content--item {
    width: 100%;
  }
}
.section-map__content--title {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section-map__content--title {
    padding: 0 24px;
    margin-bottom: 32px;
  }
}
.section-map__content--list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 991px) {
  .section-map__content--list {
    gap: 24px;
    flex-direction: row;
    overflow-x: scroll;
  }
  .section-map__content--list::-webkit-scrollbar {
    display: none;
  }
}
.section-map__destination {
  width: 100%;
  aspect-ratio: 221/148;
}
@media (max-width: 991px) {
  .section-map__destination {
    aspect-ratio: 155/104;
    width: 155px;
  }
}
.section-map__destination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .section-map__destination img {
    width: 155px;
  }
}
.section-map__number {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  z-index: 2;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 13px;
  line-height: 20px;
}
@media (max-width: 991px) {
  .section-map__number {
    left: 8px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    font-size: 8px;
    line-height: 14px;
  }
}
.section-map__desc {
  background: var(--color-white);
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .section-map__desc {
    padding: 16px 16px;
    width: 155px;
  }
}
.section-map__desc .time {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.section-map__desc .time .number {
  font-size: 32px;
  font-family: var(--font-body);
  line-height: 1;
  color: var(--color-secondary);
  font-weight: 400;
}
@media (max-width: 991px) {
  .section-map__desc .time .number {
    font-size: 32px;
  }
}
.section-map__desc .time .unit {
  font-family: var(--font-body);
  color: var(--color-primary);
  font-size: 14px;
  line-height: 21px;
}
.section-map__desc .name {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-black);
}
@media (max-width: 991px) {
  .section-map__desc .name {
    font-size: 13px;
    line-height: 20px;
  }
}

.section-contact {
  padding-top: 80px;
  position: relative;
}
.section-contact__bg {
  position: absolute;
  left: 0;
  top: -15%;
  width: auto;
  height: auto;
  z-index: -1;
}
@media (max-width: 991px) {
  .section-contact__bg {
    top: -5%;
  }
}
.section-contact__bg.right {
  left: unset;
  right: 0;
  top: 0;
}
@media (max-width: 991px) {
  .section-contact__bg.right {
    display: none;
  }
}
.section-contact__top {
  margin-bottom: 64px;
}
.section-contact__top--item {
  text-align: center;
  padding: 0 80px;
}
@media (max-width: 991px) {
  .section-contact__top--item {
    padding: 0 24px;
  }
}
.section-contact__top--title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-family: var(--font-body);
}
@media (max-width: 991px) {
  .section-contact__top--title {
    margin-bottom: 32px;
  }
}
.section-contact__top .btn-wrapper {
  margin: 24px auto 0;
  width: max-content;
}
@media (max-width: 991px) {
  .section-contact__top .btn-wrapper {
    margin: 32px auto 0;
  }
}
.section-contact .slider-contact {
  display: flex;
  gap: 40px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section-contact .slider-contact {
    gap: 24px;
  }
}
.section-contact .slider-contact:hover .slider-wrapper {
  animation-play-state: paused;
}
.section-contact .slider-wrapper {
  display: flex;
  gap: 32px;
  animation-name: swiperAnimation;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 991px) {
  .section-contact .slider-wrapper {
    gap: 24px;
  }
}
.section-contact .slider-item {
  width: 322px;
  aspect-ratio: 1;
  position: relative;
}
@media (max-width: 991px) {
  .section-contact .slider-item {
    width: 290px;
  }
}
.section-contact .slider-item .slider-link {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
}
.section-contact .slider-item .slider-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-contact .slider-item .slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes swiperAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.form-contact {
  position: relative;
}
.form-contact__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.form-contact__container {
  padding: 40px 24px 40px;
  position: relative;
  z-index: 2;
}
.form-contact__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  width: calc(100% - 48px);
  height: 1px;
  background-color: var(--color-primary);
  opacity: 0.1;
}
.form-contact__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 24px;
  width: calc(100% - 48px);
  height: 1px;
  background-color: var(--color-primary);
  opacity: 0.1;
}
.form-contact__container .group-form {
  margin-bottom: 24px;
}
.form-contact__container .group-form.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media (max-width: 991px) {
  .form-contact__container .group-form.cols {
    grid-template-columns: 1fr;
  }
}
.form-contact__container .group-form input {
  border: none;
  padding-bottom: 12px;
  width: 100%;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 28px;
}
.form-contact__container .group-form input::placeholder {
  color: rgba(14, 98, 97, 0.4);
  font-size: 16px;
  line-height: 28px;
}
.form-contact__container .group-form textarea {
  border: none;
  padding-bottom: 12px;
  width: 100%;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 28px;
  resize: none;
}
.form-contact__container .group-form textarea::placeholder {
  color: rgba(14, 98, 97, 0.4);
  font-size: 16px;
  line-height: 28px;
}
.form-contact__container .group-form .form-input {
  position: relative;
}
.form-contact__container .group-form .form-input.full::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  opacity: 0.1;
}
.form-contact__container .group-form .form-input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  opacity: 0.1;
}
.form-contact__container .group-check {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 56px;
}
@media (max-width: 991px) {
  .form-contact__container .group-check {
    flex-direction: column;
    gap: 32px;
    padding-top: 8px;
    align-items: flex-start;
  }
  .form-contact__container .group-check button {
    margin: 0 auto;
  }
}
.form-contact__container .group-check .check-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.form-contact__container .group-check .check-box label {
  font-size: 13px;
  line-height: 20px;
  color: var(--color-primary);
}
.form-contact__container .group-check .check-box input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--color-primary);
}
.form-contact__container .group-check .check-box input:checked::before {
  opacity: 1;
  visibility: visible;
}
.form-contact__container .group-check .check-box input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-image: url("../../images/ic-tick.svg");
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
  background-position: center;
}

.form-contact {
  background-repeat: repeat;
  background-size: contain;
}
.form-contact button[type=submit]:disabled {
  background-color: rgba(14, 98, 97, 0.4);
}

section.image-with-text {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
section.image-with-text.parallax {
  padding: 0 40px;
}
@media (max-width: 991px) {
  section.image-with-text.parallax .content {
    top: 90px;
  }
}
section.image-with-text.parallax .section-wrapper {
  overflow: hidden;
}
section.image-with-text.parallax .section-wrapper img {
  transform: scale(1.15);
}
section.image-with-text .ilus-right {
  width: 365px;
  height: auto;
  position: absolute;
  right: 0;
  top: -25%;
  z-index: -1;
}
@media (max-width: 991px) {
  section.image-with-text {
    overflow: unset;
  }
}
section.image-with-text .main-image {
  width: 100%;
  max-height: 100vh;
  aspect-ratio: 1440/843;
  object-position: bottom;
  object-fit: cover;
}
@media (max-width: 991px) {
  section.image-with-text .main-image {
    aspect-ratio: 375/800;
  }
}
@media (max-width: 480px) {
  section.image-with-text .main-image {
    aspect-ratio: 375/600;
    max-height: 80vh;
  }
}
section.image-with-text .detail-slider {
  max-height: 100vh;
  width: 100%;
}
section.image-with-text .detail-slider .swiper-slide {
  overflow: hidden;
}
section.image-with-text .detail-slider__image {
  position: relative;
}
section.image-with-text .detail-slider__image img {
  width: 100%;
  aspect-ratio: 1440/843;
  object-position: center;
  object-fit: cover;
}
section.image-with-text .swiper-button-next {
  right: 0;
}
section.image-with-text .swiper-button-prev {
  left: 0;
}
section.image-with-text .swiper-button-next,
section.image-with-text .swiper-button-prev {
  margin: 0;
  width: 80px;
  height: 80px;
  background-color: var(--color-pattern);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
  z-index: 999;
  cursor: none;
}
section.image-with-text .swiper-button-next svg,
section.image-with-text .swiper-button-prev svg {
  width: auto;
  height: auto;
}
section.image-with-text .swiper-button-next:after,
section.image-with-text .swiper-button-prev:after {
  display: none;
}
section.image-with-text .mask {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 50vh;
  background: var(--color-pattern) url(../../images/bg-body.png);
  background-size: contain;
}
section.image-with-text .mask.top {
  top: 0%;
}
section.image-with-text .mask.top::after {
  content: "";
  background: var(--color-pattern) url(../../images/bg-body.png);
  mask: url(../../images/mask-top.png);
  mask-size: 100% 100%;
  background-size: contain;
  background-repeat: repeat-y;
  width: 100%;
  aspect-ratio: 1440/104;
  height: auto;
  position: absolute;
  left: 0;
  top: 95%;
  transform: translateY(-10px);
}
section.image-with-text .section-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}
section.image-with-text .mask.bottom {
  bottom: 0;
}
section.image-with-text .mask.bottom::after {
  content: "";
  background: var(--color-pattern) url(../../images/bg-body.png);
  mask: url(../../images/mask-bottom.png);
  mask-size: 100% 100%;
  width: 100%;
  aspect-ratio: 1440/210;
  background-size: contain;
  background-repeat: repeat-y;
  position: absolute;
  left: 0;
  bottom: 100%;
  transform: translateY(1px);
  pointer-events: none;
}
section.image-with-text .content {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 52%;
  width: 100%;
  padding: 0 40px;
}
@media (max-width: 991px) {
  section.image-with-text .content {
    top: 64px;
    max-width: 100%;
    padding: 0 40px;
  }
  section.image-with-text .content .content-box {
    transform: none !important;
  }
}
section.image-with-text .content h1 {
  margin-bottom: 24px;
  text-align: center;
}
@media (max-width: 991px) {
  section.image-with-text .content h1 {
    margin: 0 auto 24px;
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  section.image-with-text .content h1 {
    max-width: 200px;
  }
}
section.image-with-text .content .desc {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  section.image-with-text .content .desc {
    margin-bottom: 32px;
  }
}
section.image-with-text.reverse-mask .mask.top::after {
  transform: translateY(-10px) scaleX(-1);
}
section.image-with-text.reverse-mask .mask.bottom::after {
  transform: translateY(1px) scaleX(-1);
}
section.image-with-text .swiper-pagination {
  top: unset;
  bottom: -48px;
  width: 150px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b7b4bc;
}
section.image-with-text .swiper-pagination span {
  background-color: var(--color-primary);
}

@media (max-width: 991px) {
  .page-home section.image-with-text {
    overflow: hidden;
  }
}

.modal-dialog {
  pointer-events: auto;
}

.home .image-with-text {
  overflow: hidden;
}